---
Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 140
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BreakConstructorInitializers: BeforeColon
ReflowComments: false
AllowShortCaseLabelsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Left
IndentCaseLabels: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceInEmptyBlock: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
