[req]
distinguished_name	= req_distinguished_name

# Stop confirmation prompts. All information is contained below.
prompt			= no

# The extensions to add to a certificate request
x509_extensions = v3_ca

[req_distinguished_name]
countryName =            FR
stateOrProvinceName =    Savoie
localityName =           Chambery
organizationName =       Open OCPP
organizationalUnitName = Examples
commonName =             Open OCPP Certificate Authority
emailAddress =           ca@open-ocpp.org

[v3_ca]
basicConstraints = CA:TRUE
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
